In [1]:
import yfinance as yf
import pandas as pd
from datetime import datetime

In [3]:

# List of companies (tickers)
india_tickers = [
    "RELIANCE.NS", "TCS.NS", "INFY.NS", "HDFCBANK.NS", "ICICIBANK.NS",
    "HINDUNILVR.NS", "BAJFINANCE.NS", "SBIN.NS", "BHARTIARTL.NS", "KOTAKBANK.NS",
    "ITC.NS", "ASIANPAINT.NS", "WIPRO.NS", "ADANIENT.NS", "LT.NS",
    "MARUTI.NS", "NESTLEIND.NS", "ULTRACEMCO.NS", "HCLTECH.NS", "TECHM.NS",
    "POWERGRID.NS", "SUNPHARMA.NS", "M&M.NS", "COALINDIA.NS", "DRREDDY.NS",
    "CIPLA.NS", "TATASTEEL.NS", "GRASIM.NS", "INDUSINDBK.NS", "EICHERMOT.NS"
]

tanzania_tickers = [
    "NMB", "CRDB", "TBL", "TCC", "SWISSPORT",
    "TPCC", "PAL", "ACA", "VODA", "TOL",
    "DSE", "DCB", "SWALA", "MBP", "JATU",
    "MKOMBOZI", "MCB", "TATEPA", "TTP", "TTP"
]

# Combine tickers
tickers = india_tickers + tanzania_tickers

In [4]:

# Define date range
start_date = "2020-01-01"
end_date = "2024-11-30"

# Fetch and save data
for ticker in tickers:
    try:
        stock_data = yf.download(ticker, start=start_date, end=end_date)
        stock_data.to_csv(f"{ticker}_historical_data.csv")
        print(f"Downloaded data for {ticker}")
    except Exception as e:
        print(f"Error downloading {ticker}: {e}")

[*********************100%***********************]  1 of 1 completed

Downloaded data for RELIANCE.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for TCS.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for INFY.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for HDFCBANK.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for ICICIBANK.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for HINDUNILVR.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for BAJFINANCE.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for SBIN.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for BHARTIARTL.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for KOTAKBANK.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for ITC.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for ASIANPAINT.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for WIPRO.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for ADANIENT.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for LT.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for MARUTI.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for NESTLEIND.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for ULTRACEMCO.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for HCLTECH.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for TECHM.NS

[*********************100%***********************]  1 of 1 completed

Downloaded data for POWERGRID.NS

KeyboardInterrupt:

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\hp\POWERGRID.NS_historical_data.csv")

In [5]:
df

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS
1,Date,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,81.32079315185547,109.96878051757812,110.19377899169922,107.0156478881836,107.18440246582031,13620373
3,2020-01-02,81.1544189453125,109.7437744140625,110.6437759399414,109.3218994140625,109.99690246582031,5673692
4,2020-01-03,80.28089141845703,108.56253051757812,109.57502746582031,107.5781478881836,109.26565551757812,7358268
...,...,...,...,...,...,...,...
1214,2024-11-25,342.75,342.75,345.3999938964844,336.1499938964844,341.8500061035156,29419152
1215,2024-11-26,338.79998779296875,338.79998779296875,344.6000061035156,337.8999938964844,342.0,13997179
1216,2024-11-27,339.25,339.25,341.29998779296875,336.5,337.25,12177260
1217,2024-11-28,333.6499938964844,333.6499938964844,341.75,332.20001220703125,339.25,16920231
1218,2024-11-29,329.3999938964844,329.3999938964844,332.5,326.5,331.3500061035156,13890537

In [ ]:
df.tail()

In [ ]:
df.info

In [ ]:
df.describe()

In [ ]:
import os
import pandas as pd

# Directory where CSV files are stored
input_directory = r"C:\Users\hp\data_set_ida"

# List all CSV files in the directory
csv_files = [file for file in os.listdir(input_directory) if file.endswith('.csv')]


# Create an empty DataFrame to store merged data
merged_data = pd.DataFrame()

In [ ]:

# Loop through each CSV file and merge
for file in csv_files:
    try:
        # Read the CSV file
        df = pd.read_csv(os.path.join(input_directory, file))
        
        # Extract the company name from the filename (e.g., RELIANCE.NS from RELIANCE.NS_historical_data.csv)
        company_name = file.split('_historical_data.csv')[0]
        
        # Add a new column for the company name
        df['Company'] = company_name
        
        # Append to the merged DataFrame

        merged_data = pd.concat([merged_data, df], ignore_index=True)
    except Exception as e:
        print(f"Error processing {file}: {e}")

In [ ]:

# Save the merged DataFrame to a new CSV file
output_file = "all_stock_data.csv"
merged_data.to_csv(output_file, index=False)

print(f"Merged data saved to {output_file}")

In [9]:
df=pd.read_csv(r"C:\Users\hp\merged_stock_data.csv")

C:\Users\hp\AppData\Local\Temp\ipykernel_3124\1298657550.py:1: DtypeWarning: Columns (8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\hp\merged_stock_data.csv")

In [11]:
df

,Price,Adj Close,Close,High,Low,Open,Volume,Company,Ticker,Adj Close.1,...,Open.2,Volume.2,Adj Close.3,Close.3,High.3,Low.3,Open.3,Volume.3,id,target
0,Ticker,ACA,ACA,ACA,ACA,ACA,ACA,ACA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,ACA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-02,45.021324157714844,45.810001373291016,45.869998931884766,44.52000045776367,44.779998779296875,625100,ACA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-03,44.91321563720703,45.70000076293945,45.97999954223633,45.130001068115234,45.540000915527344,317200,ACA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-06,44.67734909057617,45.459999084472656,45.61000061035156,45.119998931884766,45.2599983215332,241400,ACA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50018,2024-11-25,291.2250061035156,291.2250061035156,293.7749938964844,286.95001220703125,287.75,23297474,WIPRO.NS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50019,2024-11-26,294.5,294.5,295.17498779296875,289.6499938964844,292.5,15771340,WIPRO.NS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50020,2024-11-27,291.45001220703125,291.45001220703125,298.0,290.95001220703125,295.75,13659676,WIPRO.NS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50021,2024-11-28,286.1000061035156,286.1000061035156,293.0,285.2749938964844,292.875,11896556,WIPRO.NS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50022,2024-11-29,288.92498779296875,288.92498779296875,290.375,285.79998779296875,287.5,8540112,WIPRO.NS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

In [ ]:
import os
import pandas as pd

# Directory where CSV files are stored
input_directory = r"C:\Users\hp\merged_stock_data.csv"

# List all CSV files in the directory
csv_files = [file for file in os.listdir(input_directory) if file.endswith('.csv')]

# Create an empty DataFrame to store merged data
merged_data = pd.DataFrame()

# Loop through each CSV file and merge
for file in csv_files:
    try:
        file_path = os.path.join(input_directory, file)
        df = pd.read_csv(file_path)

        # Extract the company name from the filename
        company_name = file.split('_historical_data.csv')[0]
        df['Company'] = company_name

        # Append to the merged DataFrame
        merged_data = pd.concat([merged_data, df], ignore_index=True)
    except Exception as e:
        print(f"Error processing {file}: {e}")

# Clean the merged data
# Remove metadata rows
merged_data = merged_data[~merged_data['Price'].isin(['Ticker', 'Date'])]

# Drop rows with excessive NaN values
merged_data = merged_data.dropna(thresh=len(merged_data.columns) - 1)

# Reset index
merged_data.reset_index(drop=True, inplace=True)

# Save the cleaned and merged DataFrame
output_file = r"C:\Users\hp\data_set_ida\cleaned_merged_stock_data.csv"
merged_data.to_csv(output_file, index=False)

print(f"Cleaned and merged data saved to {output_file}")

**Cleaned and merged data**

In [19]:
df=pd.read_csv(r"C:\Users\hp\IDA_Stock_project\data_set_ida\main_data\cleaned_stock_data_updated.csv")

In [21]:
df

,Unnamed: 0,Date,Adj Close,Close,High,Low,Open,Volume,Company
0,0,2020-01-02,45.021324,45.810001,45.869999,44.520000,44.779999,625100,ACA
1,1,2020-01-03,44.913216,45.700001,45.980000,45.130001,45.540001,317200,ACA
2,2,2020-01-06,44.677349,45.459999,45.610001,45.119999,45.259998,241400,ACA
3,3,2020-01-07,44.274406,45.049999,45.619999,44.709999,45.279999,199700,ACA
4,4,2020-01-08,44.824780,45.610001,45.740002,44.990002,45.020000,459300,ACA
...,...,...,...,...,...,...,...,...,...
43191,43191,2024-11-25,291.225006,291.225006,293.774994,286.950012,287.750000,23297474,WIPRO.NS
43192,43192,2024-11-26,294.500000,294.500000,295.174988,289.649994,292.500000,15771340,WIPRO.NS
43193,43193,2024-11-27,291.450012,291.450012,298.000000,290.950012,295.750000,13659676,WIPRO.NS
43194,43194,2024-11-28,286.100006,286.100006,293.000000,285.274994,292.875000,11896556,WIPRO.NS
43195,43195,2024-11-29,288.924988,288.924988,290.375000,285.799988,287.500000,8540112,WIPRO.NS

In [23]:
df.rename(columns={"Price": "Date"}, inplace=True)
df

,Unnamed: 0,Date,Adj Close,Close,High,Low,Open,Volume,Company
0,0,2020-01-02,45.021324,45.810001,45.869999,44.520000,44.779999,625100,ACA
1,1,2020-01-03,44.913216,45.700001,45.980000,45.130001,45.540001,317200,ACA
2,2,2020-01-06,44.677349,45.459999,45.610001,45.119999,45.259998,241400,ACA
3,3,2020-01-07,44.274406,45.049999,45.619999,44.709999,45.279999,199700,ACA
4,4,2020-01-08,44.824780,45.610001,45.740002,44.990002,45.020000,459300,ACA
...,...,...,...,...,...,...,...,...,...
43191,43191,2024-11-25,291.225006,291.225006,293.774994,286.950012,287.750000,23297474,WIPRO.NS
43192,43192,2024-11-26,294.500000,294.500000,295.174988,289.649994,292.500000,15771340,WIPRO.NS
43193,43193,2024-11-27,291.450012,291.450012,298.000000,290.950012,295.750000,13659676,WIPRO.NS
43194,43194,2024-11-28,286.100006,286.100006,293.000000,285.274994,292.875000,11896556,WIPRO.NS
43195,43195,2024-11-29,288.924988,288.924988,290.375000,285.799988,287.500000,8540112,WIPRO.NS

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43196 entries, 0 to 43195
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  43196 non-null  int64
 1   Date        43196 non-null  object
 2   Adj Close   43196 non-null  float64
 3   Close       43196 non-null  float64
 4   High        43196 non-null  float64
 5   Low         43196 non-null  float64
 6   Open        43196 non-null  float64
 7   Volume      43196 non-null  int64
 8   Company     43196 non-null  object
dtypes: float64(5), int64(2), object(2)
memory usage: 3.0+ MB

In [27]:
df.describe()

,Unnamed: 0,Adj Close,Close,High,Low,Open,Volume
count,43196.000000,43196.000000,43196.000000,43196.000000,43196.000000,43196.000000,4.319600e+04
mean,21597.500000,1728.473107,1765.477909,1784.510277,1746.439258,1766.699910,9.118383e+06
std,12469.755451,2418.079476,2435.745793,2452.992502,2416.494506,2437.263251,2.304983e+07
min,0.000000,0.340000,0.340000,0.340000,0.340000,0.340000,0.000000e+00
25%,10798.750000,252.785278,259.287491,262.056252,254.537502,258.931259,8.919368e+05
50%,21597.500000,994.206909,1039.724976,1052.609985,1026.893555,1040.682129,2.624570e+06
75%,32396.250000,1911.935822,1948.612488,1970.000000,1926.024994,1950.000000,8.821002e+06
max,43195.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,6.428460e+08

In [29]:
df['Company'].unique()

array(['ACA', 'ADANIENT.NS', 'ASIANPAINT.NS', 'BAJFINANCE.NS',
       'BHARTIARTL.NS', 'CIPLA.NS', 'COALINDIA.NS', 'CRDB', 'DCB',
       'DRREDDY.NS', 'EICHERMOT.NS', 'GRASIM.NS', 'HCLTECH.NS',
       'HDFCBANK.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS',
       'INFY.NS', 'ITC.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS',
       'MARUTI.NS', 'MBP', 'MCB', 'NESTLEIND.NS', 'NMB', 'PAL',
       'POWERGRID.NS', 'RELIANCE.NS', 'SBIN.NS', 'SUNPHARMA.NS',
       'TATASTEEL.NS', 'TBL', 'TCC', 'TCS.NS', 'TECHM.NS', 'TOL', 'TTP',
       'ULTRACEMCO.NS', 'WIPRO.NS'], dtype=object)

In [31]:
len(df['Company'].unique())

41

In [33]:
''' 
Indian Companies (30)

ADANIENT.NS
ASIANPAINT.NS
BAJFINANCE.NS
BHARTIARTL.NS
CIPLA.NS
COALINDIA.NS
DRREDDY.NS
EICHERMOT.NS
GRASIM.NS
HCLTECH.NS
HDFCBANK.NS
HINDUNILVR.NS
ICICIBANK.NS
INDUSINDBK.NS
INFY.NS
ITC.NS
KOTAKBANK.NS
LT.NS (Larsen & Toubro)
M&M.NS (Mahindra & Mahindra)
MARUTI.NS
NESTLEIND.NS
POWERGRID.NS
RELIANCE.NS
SBIN.NS (State Bank of India)
SUNPHARMA.NS
TATASTEEL.NS
TCS.NS
TECHM.NS
ULTRACEMCO.NS
WIPRO.NS


Tanzanian Companies (11)

ACA
CRDB
DCB
MBP
MCB
NMB
PAL
TBL (Tanzania Breweries Limited)
TCC (Tanzania Cigarette Company)
TOL
TTP
'''
print("")

In [35]:
df['Date']=pd.to_datetime(df['Date'])

In [37]:
df.set_index("Date",inplace=True)

In [39]:
df

,Unnamed: 0,Adj Close,Close,High,Low,Open,Volume,Company
Date,,,,,,,,
2020-01-02,0,45.021324,45.810001,45.869999,44.520000,44.779999,625100,ACA
2020-01-03,1,44.913216,45.700001,45.980000,45.130001,45.540001,317200,ACA
2020-01-06,2,44.677349,45.459999,45.610001,45.119999,45.259998,241400,ACA
2020-01-07,3,44.274406,45.049999,45.619999,44.709999,45.279999,199700,ACA
2020-01-08,4,44.824780,45.610001,45.740002,44.990002,45.020000,459300,ACA
...,...,...,...,...,...,...,...,...
2024-11-25,43191,291.225006,291.225006,293.774994,286.950012,287.750000,23297474,WIPRO.NS
2024-11-26,43192,294.500000,294.500000,295.174988,289.649994,292.500000,15771340,WIPRO.NS
2024-11-27,43193,291.450012,291.450012,298.000000,290.950012,295.750000,13659676,WIPRO.NS
2024-11-28,43194,286.100006,286.100006,293.000000,285.274994,292.875000,11896556,WIPRO.NS
2024-11-29,43195,288.924988,288.924988,290.375000,285.799988,287.500000,8540112,WIPRO.NS

In [41]:
import matplotlib.pyplot as plt

# Group the data by the 'Company' column
grouped = df.groupby('Company')

In [45]:

# Plot for each company

for company, group_data in grouped:
for i, (company, group_data) in enumerate(grouped):
    if i == 3:  # Stop after plotting the first 3 companies
        break    
    
        plt.figure(figsize=(10, 6))  # Create a new figure for each company
        plt.plot(group_data.index, group_data['Close'], label=f"{company} Close Price")
        plt.title(f"Close Price Trend for {company}")
        plt.xlabel("Date")
        plt.ylabel("Close Price")
        plt.legend()
        plt.grid(True)
        plt.show()

IndentationError: expected an indented block after 'for' statement on line 3 (604579151.py, line 4)

In [ ]:
df["Tomorrow"] = df["Close"].shift(-1)
df

In [ ]:

df["Target"] = (df["Tomorrow"] > df["Close"]).astype(int)
df

In [ ]:
target_counts = df["Target"].value_counts()
target_counts

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=200, min_samples_split=75, random_state=1)

In [ ]:

#train = df.iloc[:-1000]
#test = df.iloc[-1000:]

In [ ]:
train = pd.DataFrame()
test = pd.DataFrame()

# Group by company
grouped = df.groupby("Company")

for company, group_data in grouped:
    group_data = group_data.sort_index()  # Ensure data is sorted by date
    split_index = int(len(group_data) * 0.8)
    train1 = group_data.iloc[:split_index]
    test1 = group_data.iloc[split_index:]
    train = pd.concat([train, train1])
    test= pd.concat([test, test1])

# Reset index
train.reset_index(drop=True, inplace=True)
test.reset_index(drop=True, inplace=True)

In [ ]:

predictors = ["Close", "Volume", "Open", "High", "Low"]
model.fit(train[predictors], train["Target"])

In [ ]:
from sklearn.metrics import precision_score

preds = model.predict(test[predictors])

In [ ]:

preds = pd.Series(preds, index=test.index)
preds

In [ ]:

precision_score(test["Target"], preds)

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(12, 6))
plt.plot(test.index, test["Target"], label="Actual Target", linestyle='-', marker='o')
plt.plot(test.index, preds, label="Predicted Target", linestyle='--', marker='x')
plt.xlabel("Index")
plt.ylabel("Target")
plt.title("Actual vs Predicted Targets Over Time")
plt.legend()
plt.grid(True)
plt.show()

In [ ]:
df

In [ ]:
df.info()

In [ ]:
last_year = test.loc[test.index >= "2023-12-01"]  
last_year_preds = preds.loc[last_year.index]


plt.figure(figsize=(12, 6))
plt.plot(last_year.index, last_year["Target"], label="Actual Target", linestyle='-', marker='o')
plt.plot(last_year.index, last_year_preds, label="Predicted Target", linestyle='--', marker='x')
plt.xlabel("Date")
plt.ylabel("Target")
plt.title("Actual vs Predicted Targets (Last Year)")
plt.legend()
plt.grid(True)
plt.show()

In [ ]:
test.index = pd.to_datetime(test.index, errors="coerce")

last_month = test.loc[test.index >= "2024-10-01"]  
last_month_preds = preds.loc[last_month.index]


plt.figure(figsize=(12, 6))
plt.plot(last_month.index, last_month["Target"], label="Actual Target", linestyle='-', marker='o')
plt.plot(last_month.index, last_month_preds, label="Predicted Target", linestyle='--', marker='x')
plt.xlabel("Date")
plt.ylabel("Target")
plt.title("Actual vs Predicted Targets (Last month)")
plt.legend()
plt.grid(True)
plt.show()

In [ ]:
print(test.index.min(), test.index.max())

In [ ]:
last_month = test.loc[test.index >= "2024-11-01"]
print(last_month)

In [ ]:
errors = test["Target"] - preds
plt.figure(figsize=(10, 6))
plt.hist(errors, bins=20, edgecolor='k', alpha=0.7)
plt.xlabel("Prediction Error")
plt.ylabel("Frequency")
plt.title("Distribution of Prediction Errors")
plt.grid(True)
plt.show()

In [ ]:
df